{% load i18n %}
{% load allauth %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/account_style.css">
    <title>Login</title>
</head>
<body>
<div class="container">
    <h2>Log in via Google</h2>
    <h5>You are about to log in using a third-party account from Google</h5>
    <form method="post" no_visible_fields=True>
            {% csrf_token %}
            <button type="submit" class="submit-btn">Continue</button>
    </form>
    <div class="login-links">
        <a href="{% url 'account_login' %}">Back to Log in</a>
    </div>

</div>
</body>
</html>