<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/account_style.css">

    <title>SecondSavings Login</title>
</head>
<body>
<div class="main-content">
    <div class="info-section">
        <h1>Welcome to Secondsavings Web App!</h1>
        <p>Our Time Tracker Web App provides a one-stop solution for users looking to effectively track, analyse, and
            optimise their time usage. The app primarily focuses on enabling users to log and categorise their daily
            activities, ranging from work and study to personal routines like eating and exercise.</p>
        <p>Beyond basic time tracking, advanced features like report generation and time-to-money calculations, which
            imply "time is money," enhance the awareness of wasting time. Discover how you can make the most out of
            every moment with us.</p>
    </div>
    <div class="login-container">
        <h2>Log in</h2>
        <button class="google-btn">
            <a href="{% url 'google_login' %}">Log in with Google</a>
        </button>
        <div class="or-separator">
            <span class="or-text">—or—</span>
        </div>
        <form method="post" action="{% url 'account_login' %}">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-field">
                    {{ field.errors }}
                    {{ field.label_tag }}{{ field }}
                </div>
            {% endfor %}

            {% if messages %}
                {% comment %} <div class="alert {{ messages.0.tags }}" style="color: red;">
                    {{ messages.0 }}
                </div> {% endcomment %}

                {% for message in messages %}
                    <div style="color: red;">{{ message }}</div>
                {% endfor %}
            {% endif %}

            <button type="submit" class="login-btn">Log in with Email</button>
        </form>

        <div class="login-links">
            <a href="{% url 'account_reset_password' %}">Forgot Password?</a>
        </div>
        <div class="login-links">
            <a href="{% url 'account_signup' %}">Create Account</a>
        </div>
        <div class="login-links">
            <a href="{% url 'main' %}">Visiting</a>
        </div>
        <div class="login-links small-link">
            <a href="{% url 'TimeTracker:privacy_policy' %}">Privacy Policy</a>
            <a href="{% url 'TimeTracker:terms_of_service' %}">Terms of Service</a>
        </div>
    </div>
</div>
</body>
</html>
