<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/account_style.css">
    <title>Reset Password</title>
</head>
<body>
<div class="container">
    <h2>Log out</h2>
    <h5>Are you sure you want to log out?</h5>
    <form method="post" action="{% url 'account_logout' %}" no_visible_fields=True>
            {% csrf_token %}
            {% for field in form %}
                <div class="form-field">
                    {{ field.errors }}
                    {{ field.label_tag }}{{ field }}
                </div>
            {% endfor %}
            <button type="submit" class="logout-submit-btn">Log out</button>
    </form>
    <div class="login-links">
        <a href="#" onclick="history.back();">BACK</a>
    </div>

</div>
</body>
</html>