<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link rel="stylesheet" href="/static/css/account_style.css">
</head>
<body>
<div class="container">
    <h2>SecondSavings</h2>
    <h5>Set Password</h5>
    <form method="post" action="{% url 'account_set_password' %}">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-field">
                    <div style="color: red;">{{ field.errors }}</div>
                    {{ field.label_tag }}{{ field }}
                </div>
            {% endfor %}
            {% if messages %}
                {% comment %} <div class="alert {{ messages.0.tags }}" style="color: red;">
                    {{ messages.0 }}
                </div> {% endcomment %}

                {% for message in messages %}
                    <div style="color: red;">{{ message }}</div>
                {% endfor %}
            {% endif %}
            <button type="submit" class="submit-btn">Change Password</button>
    </form>
    <div class="login-links">
        <a href="{% url 'TimeTracker:profile' user.username %}">Back to Profile</a>
    </div>

</div>
</body>
</html>