<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/account_style.css">

    <title>Reset Password</title>
</head>
<body>
<div class="container">
    <h2>Set Password</h2>
    <form method="post" action={{ action_url }}>
            {% csrf_token %}
            {% for field in form %}
                <div class="form-field">
                    {{ field.errors }}
                    {{ field.label_tag }}{{ field }}
                </div>
            {% endfor %}
            {% if messages %}
                {% comment %} <div class="alert {{ messages.0.tags }}" style="color: red;">
                    {{ messages.0 }}
                </div> {% endcomment %}

                {% for message in messages %}
                    <div style="color: red;">{{ message }}</div>
                {% endfor %}
            {% endif %}
            <button type="submit" class="submit-btn">Change Password</button>
    </form>
    <div class="login-links">
        <a href="{% url 'account_login' %}">Log in</a>
    </div>
    <div class="login-links">
        <a href="{% url 'account_signup' %}">Sign up</a>
    </div>
</div>
</body>
</html>