<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/account_style.css">
    <title>Reset Password</title>
</head>
<body>
<div class="reset-container">
    <h2>Reset Password</h2>
    <div>We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.</div>
    <div class="login-links">
        <a href="{% url 'account_login' %}">Log in</a>
    </div>
    <div class="login-links">
        <a href="{% url 'account_signup' %}">Sign up</a>
    </div>
</div>

</body>
</html>