<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/signup.css">

    <title>SecondSavings Signup</title>
</head>
<body>
<div class="container">
    <h2>SecondSavings</h2>
    <h5>Create Account</h5>
    <button class="google-btn">
        <a href="{% url 'google_login' %}">Sign up with Google</a>
    </button>
    <div class="or-separator">
        <span class="or-text">—or—</span>
    </div>
    <form method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-field">
                    {{ field.errors }}
                    {{ field.label_tag }}{{ field }}
                </div>
            {% endfor %}
            {% if messages %}
                {% comment %} <div class="alert {{ messages.0.tags }}" style="color: red;">
                    {{ messages.0 }}
                </div> {% endcomment %}

                {% for message in messages %}
                    <div style="color: red;">{{ message }}</div>
                {% endfor %}
            {% endif %}
            <button type="submit" class="submit-btn">Sign up with Email</button>
    </form>
    <div class="login-links">
        <h5>Already have an account?</h5>
    </div>
    <div class="login-links">
        <a href="{% url 'account_login' %}">Log in</a>
    </div>
    <div class="login-links small-link">
        <a href="{% url 'TimeTracker:privacy_policy' %}">Privacy Policy</a>
        <a href="{% url 'TimeTracker:terms_of_service' %}">Terms of Service</a>
    </div>
</div>
</body>
</html>