        body {
            font-family: Arial, sans-serif;
            display: flex;
            height: 100vh;
            justify-content: center;
            align-items: center
        }
        .container {
            width: 300px;
            justify-content: center;
            align-items: center;
        }
        h2, h5 {
            text-align: center;
        }
        input[type=email], input[type=password] {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }
        .submit-btn {
            background: black;
            color: white;
            border: none;
            padding: 10px 20px;
            width: 100%;
            cursor: pointer;
            margin-top: 20px; /* Move the button down a bit */
        }
        .login-links {
            margin-top: 15px;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        .login-links a {
            color: #4285F4;
            text-decoration: none;
        }