body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: left;
}

header button {
    background: #f7f7f7;
    color: #333;
    border: none;
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
}

header button:hover {
    background: #e7e7e7;
}

#group-study-container {
    text-align: center;
    margin-top: 20px;
}

.members-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
}

.member {
    background: #fff;
    margin: 10px;
    padding: 10px;
    width: 120px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
}

.member img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    margin-bottom: 8px;
}

.member p {
    margin: 5px 0;
}


#top-users-modal {
    background: #fff;
    position: absolute; /* 改为绝对定位 */
    top: 60px; /* 根据按钮的高度调整 */
    left: 20px; /* 根据页面布局调整 */
    width: 10%; /* 宽度自动 */
    height: auto; /* 高度自动 */
    display: none; /* 默认不显示 */
    flex-direction: column;
    align-items: flex-start; /* 内容左对齐 */
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5); /* 添加一些阴影效果 */
    padding: 10px;
    border-radius: 5px; /* 圆角 */
    z-index: 1000; /* 确保在最上层 */
}

#top-users-modal ul {
    list-style: none;
    padding: 0;
}

#top-users-modal li {
    background: #eee;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 3px; /* 为列表项添加圆角 */
}

#top-users-modal li:last-child {
    margin-bottom: 0;
}