body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

header {
    background: #9D7553;
    color: #fff;
    padding: 10px 20px;
    text-align: left;
}

header button {
    background: #f7f7f7;
    color: #9D7553;
    border: none;
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
}

header button:hover {
    background: #e7e7e7;
}

#group-study-container {
    text-align: center;
    margin-top: 20px;
}

.members-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
}

.member {
    background: #fff;
    margin: 10px;
    padding: 10px;
    width: 120px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
}

.member img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    margin-bottom: 8px;
}

.member p {
    margin: 5px 0;
}

#top-users-modal {
    background: #fff;
    position: absolute; /* Change to absolute positioning */
    top: 60px; /* Adjust based on button height */
    left: 20px; /* Adjust based on page layout */
    width: 10%; /* Automatic width */
    height: auto; /* Automatic height */
    display: none; /* Initially hidden */
    flex-direction: column;
    align-items: flex-start; /* Align content to the left */
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5); /* Add some shadow effect */
    padding: 10px;
    border-radius: 5px; /* Rounded corners */
    z-index: 1000; /* Ensure it stays on top */
}

#top-users-modal ul {
    list-style: none;
    padding: 0;
}

#top-users-modal li {
    background: #eee;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 3px; /* Add rounded corners to list items. */
}

#top-users-modal li:last-child {
    margin-bottom: 0;
}