.sidebar {
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
}

.nav-link {
    color: #495057;
    background-color: #e9ecef;
    margin-bottom: 2px;
    border-radius: 0;
}


.nav-link.active{
    background-color: #9D7553;
    color: #fff;
}

.user-info {
    padding: 20px;
    margin-top: -55px;
}

.user-info .form-control {
    border-radius: 0;
}

.user-icon img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.user-field {
    margin-bottom: 1rem;
}

.user-field label {
    margin-bottom: .5rem;
}

/* Make user icons circular */
.user-icon img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.sidebar .nav-link {
    color: #495057; /* Set to default color */
    background-color: #e9ecef; /* Set to default background color */
}

.sidebar a[href="{% url 'TimeTracker:mian' %}"] .bi-house-door-fill {
    color: #000; /* Set to default color */
}
.nav-link.active{
    background-color: #9D7553;
    color: #fff;
}

.sananniu {
    max-width: 100%;
    height: 50px;
    padding-left: 1150px; /* Left margin set to 1150 pixels */
}

.weekbtn {
    width: 100px;
    height: 50px;
    border-radius: 5px;
    border: 0;
    background-color: #9D7553; /* Background color set to tan */
    font-weight: 600; /* Font weight set to bold */
    font-size: 20px; /* Font size set to 20 pixels */
    transition: color 0.5s ease, transform 0.5s ease, box-shadow 0.5s ease; /* Transition effect */
    margin-right: 10px; /* Right margin set to 10 pixels */
    margin-top: 20px; /* Top margin set to 20 pixels */
}

.weekbtn:hover {
    transform: scale(1.02); /* Scale to 1.02 times original size */
    box-shadow: 0 1px 10px 0 #8a8a8a; /* Add shadow */
    color: white; /* Text color set to white */
}

.nav-link.active{
    background-color: #9D7553;
    color: #fff;
}

#charts-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center charts and buttons horizontally */
    width: 100%; /* Adjust width as needed */
}

.btn-group {
    display: flex;
    width: 20%;
    margin-bottom: 10px;
    margin-top: 20px;
    background-color: #9D7553;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.btn {
    width: 100px;
    background-color: #9D7553;
    border-color: #9D7553;
}

.btn.active{
    background-color: #816744;
    border-color: #725D3D;
}

.btn:hover {
    background-color:  rgba(157, 117, 83, 0.8);
    border-color: #ffffff;
}

.active {
    background-color: #9D7553;
    color: #ffffff;
}

button, .btn {
    white-space: nowrap;
    width: auto;
}