.sidebar {
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
}

.nav-link {
    color: #495057;
    background-color: #e9ecef;
    margin-bottom: 2px;
    border-radius: 0;
}


.nav-link.active{
    background-color: #D2B48C; /* 土黄色 */
    color: #fff;
}

.user-info {
    padding: 20px;
    margin-top: -55px;
}

.user-info .form-control {
    border-radius: 0;
}

.user-icon img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.user-field {
    margin-bottom: 1rem;
}

.user-field label {
    margin-bottom: .5rem;
}

/* CSS样式：使用户头像呈圆形 */
.user-icon img {
    border-radius: 50%;
    width: 100px; /* 根据需要调整 */
    height: 100px; /* 根据需要调整 */
    object-fit: cover;
}

.sidebar .nav-link {
    color: #495057; /* 设置为默认颜色 */
    background-color: #e9ecef; /* 设置为默认背景颜色 */
}

.sidebar a[href="{% url 'TimeTracker:mian' %}"] .bi-house-door-fill {
    color: #000; /* 设置为默认颜色 */
}
.nav-link.active{
    background-color: #D2B48C; /* 土黄色 */
    color: #fff;
}
