<<<<<<< HEAD
.sidebar {
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
}

.nav-link {
    color: #495057;
    background-color: #e9ecef;
    margin-bottom: 2px;
    border-radius: 0;
}

/* Style for active navigation link */
.nav-link.active {
    color: #fff; /* White text */
    background-color: #343a40; /* Dark gray background */
}

.user-info {
    padding: 20px;
    margin-top: -55px;
}

.user-info .form-control {
    border-radius: 0;
}

.user-icon img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.user-field {
    margin-bottom: 1rem;
}

.user-field label {
    margin-bottom: .5rem;
}

/* CSS样式：使用户头像呈圆形 */
.user-icon img {
    border-radius: 50%;
    width: 100px; /* 根据需要调整 */
    height: 100px; /* 根据需要调整 */
    object-fit: cover;
}

.sidebar .nav-link {
    color: #495057; /* 设置为默认颜色 */
    background-color: #e9ecef; /* 设置为默认背景颜色 */
}

.sidebar a[href="{% url 'TimeTracker:mian' %}"] .bi-house-door-fill {
    color: #000; /* 设置为默认颜色 */
}

/* 导航栏按钮被选中时的样式 */
.nav-link.active {
    color: #fff; /* 白色文本 */
    background-color: #333; /* 深灰色背景 */
}
=======
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: left;
}

header button {
    background: #f7f7f7;
    color: #333;
    border: none;
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
}

header button:hover {
    background: #e7e7e7;
}

#group-study-container {
    text-align: center;
    margin-top: 20px;
}

.members-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
}

.member {
    background: #fff;
    margin: 10px;
    padding: 10px;
    width: 120px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
}

.member img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    margin-bottom: 8px;
}

.member p {
    margin: 5px 0;
}


#top-users-modal {
    background: #fff;
    position: absolute; /* 改为绝对定位 */
    top: 60px; /* 根据按钮的高度调整 */
    left: 20px; /* 根据页面布局调整 */
    width: 10%; /* 宽度自动 */
    height: auto; /* 高度自动 */
    display: none; /* 默认不显示 */
    flex-direction: column;
    align-items: flex-start; /* 内容左对齐 */
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5); /* 添加一些阴影效果 */
    padding: 10px;
    border-radius: 5px; /* 圆角 */
    z-index: 1000; /* 确保在最上层 */
}

#top-users-modal ul {
    list-style: none;
    padding: 0;
}

#top-users-modal li {
    background: #eee;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 3px; /* 为列表项添加圆角 */
}

#top-users-modal li:last-child {
    margin-bottom: 0;
}
>>>>>>> 3d94b12 (The first version of GroupPage, still need some changes to CSS and html. After runserver, need to add Group and users in the admin page, and set the study time manually.)
