{% extends 'TimeTracker/base.html' %}
{% block css %}
    <link rel="stylesheet" href="/statics/css/badges.css">
    <link rel="stylesheet " href="/statics/css/style.css">
{% endblock %}
{% block content %}
    <div class="container mt-3">
        <div class="row" id="badgesRow">
            <div class="col-auto">
                <img src="static/img/sdd.png">
            </div>
            <div class="col-auto">
                <img src="static/img/we.png">
            </div>
        </div>
        <button id="addBadgeBtn" class="btn btn-primary mt-2">Add New Badge</button>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

{% endblock %}