{#profile base#}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/statics/css/style.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.staticfile.org/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap Icons -->
    <link href="https://cdn.staticfile.org/bootstrap-icons/1.7.2/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
    {% block css %}
    {% endblock %}
</head>
<body>

<div class="container-fluid h-100">
  <div class="row h-100">
    <nav class="col-md-3 col-lg-2 d-md-block sidebar collapse">
      <i class="bi bi-house-door-fill" style="font-size: 35px"></i>
<!--      主页房屋按钮-->
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="/userInfo">
             Account
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/report">report</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Group">Group</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/MusicList">Music List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Badges">Badges</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Coin">Coin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Settings">Settings</a>
          </li>
        </ul>
      </div>
    </nav>

    <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
      <div class="user-info">
        <div class="user-icon text-center">
          <i class="bi bi-person-circle" style="font-size: 70px"></i>
<!--          用户头像-->
        </div>
          {% block content %}
          {% endblock %}
      </div>
    </main>
  </div>

</div>

<script src="https://cdn.staticfile.org/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>