{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Study</title>
    <!-- Add your CSS for styling here -->
    <link rel="stylesheet" href="{% static 'css/GroupPageStyle.css' %}">
</head>
<body>
    <div id="group-study-container">
    <header>
        <button onclick="location.href='{% url 'TimeTracker:group' %}'">Back</button> 
        <button onclick="location.href='{% url 'login_main' %}'">Main Page</button>        
        <!-- The second button is not implemented -->
        <button id="show-top-users">Show Top Study Time</button>
    </header>

    <!--div id="group-study-container"-->
        <h1>{{ group.name }}</h1>
        <p>Studying {{ members.count }} members</p>
        <div class="members-list">
            {% for member in members %}
                <div class="member">
                    <img src="{{ member.userprofile.avatar.url }}" alt="{{ member.username }}">
<!--                     <p>{{ member.userprofile.user.username }}</p> -->
                    <p>{{ member.userprofile.nickName }}</p>
                    <p>Study Time: {{ member.userprofile.study_time|time:"H:i:s" }}</p>
                    <p>Work Time: {{ member.userprofile.work_time|time:"H:i:s" }}</p>
                    <p>Life Time: {{ member.userprofile.life_time|time:"H:i:s" }}</p>
                </div>
            {% endfor %}
        </div>
    </div>

    <div id="top-users-modal" style="display:none;">
        <!-- Modal content will be loaded here -->
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static '/js/group_study.js' %}"></script>
<!--     <script>
$(document).ready(function() {
    function updateGroupStudy() {
        $.ajax({
            url: "{% url 'TimeTracker:group_study' group.id %}",
    
            success: function(data) {
                $('#group-study-container').html(''); // clear all elements in contianer
                $('#group-study-container').html(data);
                
            }
        });
    }
    setTimeout(updateGroupStudy, 5000);
});
    </script> -->
</body>
</html>