{% extends 'base.html' %}
{% block content %}
     <form>
            <div class="user-field">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" value="USER_1">
        </div>
        <div class="user-field">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" value="EXAMPLE@GMAIL.COM">
        </div>
           <button type="submit" class="btn btn-secondary">login</button>
       </form>
{% endblock %}
