{% extends 'TimeTracker/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet " href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}  {# 定义内容块 #}

        <script src="https://cdn.jsdelivr.net/npm/echarts@5.5.0/dist/echarts.min.js"></script>  {# 导入ECharts库 #}
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<body style="height: 100%; margin: 0">
    <canvas id="time_bar" width="400" height="200"></canvas>
    <canvas id="category_bar" width="400" height="200"></canvas>
    <canvas id="completed_line" width="400" height="200"></canvas>
    <div id="time_bar_data"
         data-labels="{{ time_bar.labels|safe }}"
         data-task-total-time="{{ time_bar.total_task_time|safe }}"
         data-break-total-time="{{ time_bar.total_break_time|safe }}"
         style="display: none;">
    </div>
    <div id="category_bar_data"
         data-labels="{{ category_bar.labels|safe }}"
         data-task-work="{{ category_bar.work_count|safe }}"
         data-task-study="{{ category_bar.study_count|safe }}"
         data-task-life="{{ category_bar.life_count|safe }}"
         style="display: none;">
    </div>
    <div id="completed_line_data"
         data-labels="{{ completed_line.labels|safe }}"
         data-count="{{ completed_line.count|safe }}"
         style="display: none;">
    </div>

    <div class="btn-group" role="group" aria-label="Basic example">  {# 定义按钮组 #}
        <div class="sananniu">  {# 使用样式sananniu #}
        <button type="button" class="btn btn-primary weekbtn" id="weekBtn">
            <a href="{% url 'TimeTracker:report' 'week' %}">Week</a>
        </button>  {# 按钮：Week #}
        <button type="button" class="btn btn-primary weekbtn" id="monthBtn">
            <a href="{% url 'TimeTracker:report' 'month' %}">Month</a>
        </button>  {# 按钮：Month #}
        <button type="button" class="btn btn-primary weekbtn" id="yearBtn">
            <a href="{% url 'TimeTracker:report' 'year' %}">Year</a>
        </button>  {# 按钮：Year #}
        </div>

        <div id="container" style="height: 100%;margin-top: 30px;"></div>  {# 定义容器 #}
    </div>
</body>
<script src="{% static 'js/bar_chart.js' %}"></script>  {# 导入柱状图bar_chart.js文件 #}
<script src="{% static 'js/chart.js' %}"></script>
{% endblock %}