{% extends 'TimeTracker/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet " href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}  {# 定义内容块 #}

<script src="https://cdn.jsdelivr.net/npm/echarts@5.5.0/dist/echarts.min.js"></script>  {# 导入ECharts库 #}

<body style="height: 100%; margin: 0">
    <div>
{#        labels: 标签#}
{#        task_total_time: 每天的任务时间#}
{#        break_total_time: 每天的休息时间#}
        labels : {{ labels }}<br>
        task_total_time : {{ task_total_time }}<br>
        break_total_time : {{ break_total_time }}<br>
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">  {# 定义按钮组 #}
        <div class="sananniu">  {# 使用样式sananniu #}
        <button type="button" class="btn btn-primary weekbtn" id="weekBtn">
            <a href="{% url 'TimeTracker:report' 'week' %}">Week</a>
        </button>  {# 按钮：Week #}
        <button type="button" class="btn btn-primary weekbtn" id="monthBtn">
            <a href="{% url 'TimeTracker:report' 'month' %}">Month</a>
        </button>  {# 按钮：Month #}
        <button type="button" class="btn btn-primary weekbtn" id="yearBtn">
            <a href="{% url 'TimeTracker:report' 'year' %}">Year</a>
        </button>  {# 按钮：Year #}
        </div>

        <div id="container" style="height: 100%;margin-top: 30px;"></div>  {# 定义容器 #}
    </div>

    <script type="text/javascript">

    </script>
</body>
<script src="{% static 'js/bar_chart.js' %}"></script>  {# 导入柱状图bar_chart.js文件 #}

{% endblock %}