{% extends 'TimeTracker/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/echarts@5.5.0/dist/echarts.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<body style="height: 100%; margin: 0">
    <div style="position: relative; width: 100%; height: 100%;">
        <div class="btn-group" style="position: absolute; right: 15px; top: 15px; z-index: 1000;">
            <button type="button" class="btn btn-primary" id="weekBtn">
                <a href="{% url 'TimeTracker:report' 'week' %}">Week</a>
            </button>
            <button type="button" class="btn btn-primary" id="monthBtn">
                <a href="{% url 'TimeTracker:report' 'month' %}">Month</a>
            </button>
            <button type="button" class="btn btn-primary" id="yearBtn">
                <a href="{% url 'TimeTracker:report' 'year' %}">Year</a>
            </button>
        </div>

        <div id="charts-container" style="margin-top: 50px;">
            <canvas id="time_bar" width="400" height="200"></canvas>
            <canvas id="category_bar" width="400" height="200"></canvas>
            <canvas id="completed_line" width="400" height="200"></canvas>
            <!-- Hidden data divs -->
        </div>
    </div>
    <script src="{% static 'js/chart.js' %}"></script>
</body>
{% endblock %}
