<!-- profile默认页（account) -->
{% extends 'base.html' %}
{% block content %}
<form>
    <div class="user-field">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" value="USER_1" readonly>
    </div>
    <div class="user-field">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" value="EXAMPLE@GMAIL.COM" readonly>
    </div>
    <button type="button" class="btn btn-secondary" onclick="enableFields()">Reset</button>
</form>

<script>
function enableFields() {
    document.getElementById("name").readOnly = false;
    document.getElementById("email").readOnly = false;
}
// click the button to enable the flieds
</script>
{% endblock %}


